@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SBAggroL";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
      format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "SBAggroM";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "SBAggroB";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
      format("woff");
    font-weight: 700;
    font-style: normal;
  }
}

body {
  font-family: "SBAggroL", sans-serif;
}
.opercity-black {
  background: rgba(9, 9, 9, 0.5);
}

.title {
  font-size: 25px;
  font-family: "SBAggroB", sans-serif;
}
.titleMedium {
  font-size: 25px;
  font-family: "SBAggroM", sans-serif;
}
.subTitle {
  font-size: 20px;
  font-family: "SBAggroL", sans-serif;
}
.subTitleMedium {
  font-size: 20px;
  font-family: "SBAggroM", sans-serif;
}
.navTitleMedium {
  font-size: 18px;
  font-family: "SBAggroM", sans-serif;
}
.subTitleLight {
  font-size: 20px;
  font-family: "SBAggroL", sans-serif;
}
.content {
  font-size: 16px;
  font-family: "SBAggroL", sans-serif;
}
.contentMini {
  font-size: 14px;
  font-family: "SBAggroL", sans-serif;
}
.contentMedium {
  font-size: 16px;
  font-family: "SBAggroM", sans-serif;
}
.contentBold {
  font-size: 16px;
  font-family: "SBAggroB", sans-serif;
}
.description {
  font-size: 12px;
  font-family: "SBAggroL", sans-serif;
}
.round {
  border-radius: 10px;
}
.topRound {
  border-radius: 40px;
}

main {
  padding-left: 25px;
  padding-right: 25px;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* swiper 커스텀 */
.swiper#main-is-new-swiper {
  @apply px-[25px] overflow-visible;
}

/* swiper pagination bullet 커스텀*/
.swiper .swiper-pagination-bullet-active {
  @apply bg-primary;
}

#wrapper {
  background-color: red;
  min-height: 100vh;
  /* padding-bottom: 220px; */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
.topShadow {
  box-shadow: 0px -42px 30px -33px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px -42px 30px -33px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -42px 30px -33px rgba(0, 0, 0, 0.3);
}

.bottomShadow {
  /* display: block; */
  /* position: relative; */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  /* margin-top: -150px; */
  height: 100px;
  /* width: 100%
  /* content: ""; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.dark-shadow {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.36320465686274506) 24%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
/* 첫 번째 애니메이션: 위로 올라갔다가 아래로 내려오는 애니메이션 */
@keyframes stretchAndBounceDown {
  0%,
  100% {
    transform: translateY(-5%) scaleY(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(5%) scaleY(1.1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.stretch-bounce-animation-down {
  animation: stretchAndBounceDown 1s infinite;
}

/* 두 번째 애니메이션: 아래로 내려갔다가 위로 올라오는 애니메이션 */
@keyframes stretchAndBounceUp {
  0%,
  100% {
    transform: translateY(5%) scaleY(1.1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-5%) scaleY(1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.stretch-bounce-animation-up {
  animation: stretchAndBounceUp 1s infinite;
}
