@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SBAggroL";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
      format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "SBAggroM";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "SBAggroB";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
      format("woff");
    font-weight: 700;
    font-style: normal;
  }
}

body {
  font-family: "SBAggroL", sans-serif;
}
.opercity-black {
  background: rgba(9, 9, 9, 0.5);
}

.title {
  font-size: 25px;
  font-family: "SBAggroB", sans-serif;
}
.titleMedium {
  font-size: 25px;
  font-family: "SBAggroM", sans-serif;
}
.subTitle {
  font-size: 20px;
  font-family: "SBAggroL", sans-serif;
}
.subTitleMedium {
  font-size: 20px;
  font-family: "SBAggroM", sans-serif;
}
.navTitleMedium {
  font-size: 18px;
  font-family: "SBAggroM", sans-serif;
}
.subTitleLight {
  font-size: 20px;
  font-family: "SBAggroL", sans-serif;
}
.content {
  font-size: 16px;
  font-family: "SBAggroL", sans-serif;
}
.contentMini {
  font-size: 14px;
  font-family: "SBAggroL", sans-serif;
}
.contentMedium {
  font-size: 16px;
  font-family: "SBAggroM", sans-serif;
}
.contentBold {
  font-size: 16px;
  font-family: "SBAggroB", sans-serif;
}
.description {
  font-size: 12px;
  font-family: "SBAggroL", sans-serif;
}
.round {
  border-radius: 10px;
}
.topRound {
  border-radius: 40px;
}

main {
  padding-left: 25px;
  padding-right: 25px;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* swiper 커스텀 */
.swiper#main-is-new-swiper {
  @apply px-[25px] overflow-visible;
}

/* swiper pagination bullet 커스텀*/
.swiper .swiper-pagination-bullet-active {
  @apply bg-primary;
}

#wrapper {
  background-color: red;
  min-height: 100vh;
  /* padding-bottom: 220px; */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
.topShadow {
  box-shadow: 0px -42px 30px -33px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px -42px 30px -33px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -42px 30px -33px rgba(0, 0, 0, 0.3);
}

.bottomShadow {
  box-shadow: 0px -20px 20px 0px rgba(255, 255, 255, 0.74);
  -webkit-box-shadow: 0px -20px 20px 0px rgba(255, 255, 255, 0.74);
  -moz-box-shadow: 0px -20px 20px 0px rgba(255, 255, 255, 0.74);
}
.redCircle::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 11px;
  height: 11px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  margin: auto;
  cursor: pointer;
  max-width: 350px;
  max-height: 350px;
}
.close-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  margin-left: 280px;
  margin-bottom: 420px;
  color: #ddd;
  font-size: 50px;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0%;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.dark-shadow {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.36320465686274506) 24%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
/* 첫 번째 애니메이션: 위로 올라갔다가 아래로 내려오는 애니메이션 */
@keyframes stretchAndBounceDown {
  0%,
  100% {
    transform: translateY(-5%) scaleY(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(5%) scaleY(1.1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.stretch-bounce-animation-down {
  animation: stretchAndBounceDown 1s infinite;
}

/* 두 번째 애니메이션: 아래로 내려갔다가 위로 올라오는 애니메이션 */
@keyframes stretchAndBounceUp {
  0%,
  100% {
    transform: translateY(5%) scaleY(1.1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-5%) scaleY(1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.stretch-bounce-animation-up {
  animation: stretchAndBounceUp 1s infinite;
}

/* shadcn rechart 색상 */
@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
