.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--color-dark-gray);
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.active .page-link {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
}

.disabled .page-link {
  opacity: 0.5;
  pointer-events: none;
}
